body{
    height: 100%;
    overflow: hidden;
    color: #0eaa00;
    background-color: #272727;
}

.wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.game-wrapper{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 800px;
    height: 600px;
    background: url(assets/background-blue.png);
    animation: scroll-background 2s linear infinite;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: -2;
}

@keyframes scroll-background {
    from {
      background-position-y: 0px;
    }
    to {
      background-position-y: 256px;
    }
  }

header{
    text-align: center;
    background: #1f1f1f;
    color: #fff;
    padding: 5px;
}

footer{
    padding: 10px;
    text-align: center;
    font-size: 11px;
    background: #1f1f1f;
}

.pew {
    position: absolute; 
    margin-left: -3.5px; 
    height: 25px;
    z-index: -1;
}

.enemy {
    position: absolute;
} 